[Unit]
Description=parity-home
After=network.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory={{ base_path }}/{{ home_name }}
Environment=RUST_LOG=info
ExecStart={{ base_path }}/{{ home_name }}/parity --config node.toml
Restart=always

[Install]
WantedBy=multi-user.target
