[parity]
chain = "chain.json"
base_path = "parity_data"

[network]
port = 30343
nat = "none"

[rpc]
port = 48545
apis = ["web3", "eth", "net", "personal", "parity", "parity_set", "traces", "rpc", "parity_accounts"]
cors = ["all"]
hosts = ["all"]

[ipc]
apis = ["web3", "eth", "pubsub", "net", "parity", "parity_pubsub", "parity_accounts", "traces", "rpc", "shh", "shh_pubsub", "personal"]

[ui]
port = 48180
force = true

[websockets]
port = 48546

[account]
unlock = ["{{ foreign_signer_address }}"]
password = ["pass.pwd"]

[mining]
engine_signer = "{{ foreign_signer_address }}"
reseal_on_txs = "none"

[loggin]
log_file = "{{ base_path }}/{{ foreign_name }}/logs/parity.log"
