[Unit]
Description=bridge
After=network.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory={{ base_path }}/bridge
Environment=RUST_LOG=info
ExecStart={{ base_path }}/bridge/bridge --config {{ base_path }}/bridge/config.toml --database {{ base_path }}/bridge/db.toml
Restart=always

[Install]
WantedBy=multi-user.target
