estimated_gas_cost_of_withdraw = {{ estimated_gas_cost_of_withdraw }}

[home]
account = "{{ home_signer_address }}"
ipc = "{{ base_path }}/{{ home_name }}/parity_data/jsonrpc.ipc"
required_confirmations = {{ home_required_confirmations }}
poll_interval = {{ home_poll_interval }}
request_timeout = {{ home_request_timeout }}

{% if initial_deployment %}
[home.contract]
bin = "{{ base_path }}/bridge/contracts/{{ home_contract_name }}.bin"
{% endif %}

[foreign]
account = "{{ foreign_signer_address }}"
ipc = "{{ base_path }}/{{ foreign_name }}/parity_data/jsonrpc.ipc"
required_confirmations = {{ foreign_required_confirmations }}
poll_interval = {{ foreign_poll_interval }}
request_timeout = {{ foreign_request_timeout }}

{% if initial_deployment %}
[foreign.contract]
bin = "{{ base_path }}/bridge/contracts/{{ foreign_contract_name }}.bin"

[authorities]
accounts = [
    {% for au in authorities %}
    "{{ au }}",
    {% endfor %}
]
required_signatures = {{ required_signatures }}
{% endif %}

[transactions]
{% if initial_deployment %}
home_deploy = { gas = {{ home_deploy_gas }}, gas_price = {{ home_deploy_gas_price }} }
foreign_deploy = { gas = {{ foreign_deploy_gas }}, gas_price = {{ foreign_gas_price }} }
{% endif %}
deposit_relay = { gas = {{ deposit_relay_gas }}, gas_price = {{ deposit_repay_gas_price }} }
withdraw_confirm = { gas = {{ withdraw_confirm_gas }}, gas_price = {{ withdraw_gas_price }} }
withdraw_relay = { gas = {{ withdraw_relay_gas }}, gas_price = {{ withdraw_relay_gas_price }} }
